.hero-slide {
  display: flex;
  align-items: flex-start;

  @keyframes appear {
    0% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .pre-summit-slide {
    width: 100%;
    height: 70vh;
    padding: 10vw 3vw;
    background-image: linear-gradient(#0000003a, #0000003a),
      url("./../../images/bootcamp-slide-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-image 5s ease-in-out;
    &.appear {
      animation: appear 0.5s forwards ease-in-out;
    }

    @include laptop {
      padding: 7vw 3vw;
    }
    @include tablet-pro {
      padding: 15vw 5vw;
      height: auto;
    }
    @include tablet {
      padding: 20vw 5vw;
      height: auto;
    }
    @include mobile {
      padding: 30vw 3vw;
      height: auto;
    }

    .message {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include tablet-pro {
        width: 100%;
        flex-wrap: wrap;
      }
      @include tablet {
        width: 100%;
        flex-wrap: wrap;
      }
      @include mobile {
        width: 95%;
        flex-wrap: wrap;
        margin: 0 auto;
      }

      .left {
        width: 62%;
        background-color: #030e22e7;
        padding: 5vw;
        @include laptop {
          width: 60%;
        }
        @include tablet-pro {
          width: 80%;
          margin: 0 auto;
        }
        @include tablet {
          width: 90%;
          margin: 0 auto;
          padding: 5vw;
        }
        @include mobile {
          width: 100%;
          margin: 0 auto;
          padding: 5vw;
        }

        h1.main_headline {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          color: $white;
          font-size: 3vw;
          font-weight: 600;
          font-family: "Lora", sans-serif;
          letter-spacing: 0.1vw;
          margin-bottom: 1vw;
          @include laptop {
            font-size: 2.2vw;
          }
          @include tablet-pro {
            font-size: 2.7vw;
          }
          @include tablet {
            font-size: 3.5vw;
          }
          @include mobile {
            font-size: 5vw;
          }
        }

        h2.subtitle {
          color: $white;
          font-size: 1.6vw;
          font-weight: 400;
          font-family: "Bitter", serif;
          text-transform: capitalize;
          @include laptop {
            font-size: 1.7vw;
            margin: 1.5vw 0;
            line-height: 3.5vw;
          }
          @include tablet-pro {
            font-size: 1.8vw;
            margin: 2vw 0;
            letter-spacing: 0.1vw;
          }
          @include tablet {
            font-size: 2.5vw;
            line-height: 3vw;
            margin: 3vw 0;
          }
          @include mobile {
            font-size: 4vw;
            letter-spacing: 0.1vw;
            line-height: 6vw;
            margin: 4vw 0;
          }
        }

        img {
          width: 100%;
          margin: 1vw 0;
          @include laptop {
            margin: 0;
          }
          @include tablet-pro {
            margin: 0.5vw 0;
          }
          @include tablet {
            margin: 0;
          }
        }

        h3 {
          color: $white;
          font-size: 1.2vw;
          font-weight: 600;
          font-family: "Bitter", serif;
          text-transform: capitalize;
          letter-spacing: 0.05vw;
          @include laptop {
            margin: 1vw 0;
            letter-spacing: 0.1vw;
          }
          @include tablet-pro {
            font-size: 1.5vw;
            margin: 1vw 0;
            letter-spacing: 0.1vw;
          }
          @include tablet {
            font-size: 1.8vw;
            margin: 1vw 0;
            letter-spacing: 0.1vw;
          }
          @include mobile {
            font-size: 3.5vw;
            margin: 1vw 0;
            letter-spacing: 0.1vw;
          }

          span {
            font-size: 1.2vw;
            font-weight: 700;
            color: #028dff;
            @include tablet-pro {
              font-size: 1.5vw;
            }
            @include tablet {
              font-size: 1.8vw;
            }
            @include mobile {
              font-size: 3.5vw;
              line-height: 5.5vw;
            }
          }
        }

        .window {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 3vw 0 1vw 0;
          font-family: "Lora", serif;
          @include mobile {
            margin: 6vw 0 3vw 0;
          }

          p {
            color: #028dff;
            text-align: center;
            border: solid 0.1vw white;
            border-width: 0.1vw;
            width: 80%;
            border-width: 0.1vw 0 0.1vw 0;
            padding: 0.5vw;
            font-size: 1.3vw;
            font-weight: 600;
            @include laptop {
              font-size: 1.5vw;
            }
            @include tablet-pro {
              font-size: 1.8vw;
              width: 60%;
            }
            @include tablet {
              font-size: 2vw;
              padding: 1vw 0;
              width: 60%;
            }
            @include mobile {
              font-size: 4vw;
              padding: 1vw 0;
              width: 80%;
              padding: 2vw 0;
            }
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          .cta {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 1vw;
            margin-top: 2vw;
            padding: 0.5vw 2vw;
            outline: none;
            border: solid 0.1vw $white;
            background-color: $white;
            color: #030e22e7;
            font-size: 0.9vw;
            letter-spacing: 0.1vw;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            border-radius: 0.1vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
              background-color: $secondary;
              border: solid 0.1vw $secondary;
              color: $white;
            }
            @include laptop {
              padding: 1vw 2vw;
              font-size: 1.1vw;
            }
            @include tablet-pro {
              padding: 1vw 2vw;
              font-size: 1.5vw;
            }
            @include tablet {
              padding: 0.7vw 2vw;
              font-size: 1.5vw;
              border-radius: 0.5vw;
            }
            @include mobile {
              padding: 2vw 4vw;
              font-size: 2.7vw;
              border-radius: 0;
              margin-top: 5vw;
            }
            svg {
              margin-left: 1vw;
              width: 1vw;
              @include mobile {
                width: 3vw;
              }
              &.before {
                border: 0.1vw solid #028dff;
                padding: 0.5vw;
                width: 2vw;
                border-radius: 50%;
                color: #028dff;
                @include mobile {
                  width: 4vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
