#background {
  width: 100%;

  .content {
    padding: 5vw;
    font-family: $raleway;
    .main_title {
      color: $secondary;
      font-size: 2.5vw;
      margin-bottom: 2vw;
      @include tablet-pro {
        font-size: 3vw;
      }
      @include tablet {
        font-size: 3.5vw;
        line-height: 5vw;
      }
      @include mobile {
        font-size: 5vw;
        line-height: 6.5vw;
      }
      sup {
        font-size: 1.5vw;
        font-weight: 700;
      }
    }
    .body {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @include tablet-pro {
        flex-direction: column;
      }
      @include tablet {
        flex-direction: column;
      }
      @include mobile {
        flex-direction: column;
      }
      .text {
        width: 60%;
        @include laptop {
          width: 50%;
        }
        @include tablet-pro {
          width: 100%;
        }
        @include tablet {
          width: 100%;
        }
        @include mobile {
          width: 100%;
        }
        p {
          font-size: 1.2vw;
          margin: 1vw 0;
          line-height: 1.8vw;
          @include laptop {
            margin: 1.5vw 0;
            font-size: 1.5vw;
            line-height: 2.5vw;
          }
          @include tablet-pro {
            margin: 2vw 0;
            font-size: 1.8vw;
            line-height: 3vw;
          }
          @include tablet {
            margin: 4vw 0;
            font-size: 2.5vw;
            line-height: 4vw;
          }
          @include mobile {
            margin: 5vw 0;
            font-size: 3.5vw;
            line-height: 5.5vw;
          }
          strong {
            color: $blue;
          }
        }
      }
      .image {
        width: 40%;
        background-image: url("../../images/gallery/735DE3BD-6760-484F-8E3D-43D8760F86AE_websize.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        @include laptop {
          width: 50%;
        }
        @include tablet-pro {
          width: 100%;
        }
        @include tablet {
          width: 100%;
        }
        @include mobile {
          width: 100%;
        }
        .strip {
          width: 32%;
          border: 1vw solid $white;
          border-width: 2vw 1vw 2vw 1vw;
          height: 30vw;
          @include laptop {
            height: 60vw;
          }
          @include tablet-pro {
            height: 50vw;
            border-width: 3vw 1vw 3vw 1vw;
          }
          @include tablet {
            height: 50vw;
            border-width: 5vw 2vw 5vw 2vw;
          }
          @include mobile {
            height: 50vw;
            border-width: 5vw 2vw 5vw 2vw;
          }
          &.middle {
            border: 1vw solid transparent;
          }
        }
      }
    }
  }
}
