.contact_section {
  width: 100%;
  padding: 10vw 5vw 5vw 5vw;
  @include tablet {
    padding: 5vw 7vw;
  }
  @include mobile {
    padding: 5vw;
  }
  .section_title {
    color: $blue;
    font-family: "Lora", serif;
    font-size: 3vw;
    line-height: 2.2vw;
    margin-bottom: 3vw;
    @include tablet-pro {
      font-size: 3vw;
      line-height: 3vw;
    }
    @include tablet {
      font-size: 4vw;
      margin-bottom: 5vw;
    }
    @include mobile {
      font-size: 6vw;
      margin-bottom: 7vw;
    }
  }

  .contact_area {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
    }

    .left {
      width: 47%;
      background-color: $blue;
      position: relative;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        width: 100%;
        padding: 3vw 7vw;
      }
      .floater {
        position: absolute;
        width: 5vw;
        height: 4vw;
        background-color: $bright_gold;
        top: -1.5vw;
        left: -2vw;
      }
      ul {
        width: 100%;
        list-style-type: none;
        margin: 3vw 0;
        @include tablet-pro {
          margin: 2vw 0 3vw 0;
        }
        @include tablet {
          margin: 3vw 0 5vw 0;
        }
        @include mobile {
          margin: 5vw 0 15vw 0;
        }
        li {
          width: 100%;
          margin: 0.8vw 0;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 1.3vw;
          @include tablet {
            margin: 1.5vw 0;
            font-size: 2vw;
          }
          @include mobile {
            margin: 3vw 0;
            font-size: 4vw;
            flex-wrap: wrap;
          }
          a {
            text-decoration: none;
            font-weight: 600;
            font-size: 1.3vw;
            color: $golden;
            &.email {
              color: white;
            }
            @include tablet {
              font-size: 2vw;
            }
            @include mobile {
              width: auto;
              font-size: 4vw;
              word-wrap: break-word;
            }
          }
        }
      }
    }
    .right {
      width: 47%;
      @include tablet {
        width: 100%;
        margin-top: 5vw;
      }
      @include mobile {
        width: 100%;
        margin-top: 5vw;
      }
      .text {
        p {
          text-align: left;
          margin-bottom: 1vw;
          font-size: 1.2vw;
          padding-right: 5vw;
          color: $text_color;
          @include laptop {
            font-size: 1.5vw;
          }
          @include tablet-pro {
            font-size: 1.8vw;
          }
          @include tablet {
            font-size: 2.3vw;
            margin-bottom: 2vw;
          }
          @include mobile {
            font-size: 4.5vw;
            margin-bottom: 4vw;
          }
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        @include tablet {
          font-size: 1.5vw;
        }
        label {
          width: 85%;
          margin: 1vw 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          @include tablet {
            width: 100%;
            margin: 1vw 0;
            font-size: 1.5vw;
          }
          @include mobile {
            width: 100%;
            margin: 2vw 0;
          }
          span {
            font-weight: 500;
            margin-bottom: 0.5vw;
            font-size: 1.1vw;
            width: 100%;
            @include tablet {
              font-size: 2vw;
            }
            @include mobile {
              margin-bottom: 1vw;
              font-size: 4.5vw;
            }
          }

          input {
            width: 100%;
            padding: 0.8vw;
            border: solid 0.2vw $blue;
            @include tablet {
              padding: 2vw;
              font-size: 2vw;
            }
            @include mobile {
              padding: 4vw;
            }
          }

          textarea {
            width: 100%;
            height: 7vw;
            padding: 0.8vw;
            border: solid 0.2vw $blue;
            @include tablet {
              height: 15vw;
              padding: 2vw;
            }
            @include mobile {
              height: 25vw;
              padding: 4vw;
            }
          }
        }
        .submit {
          width: 85%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include tablet {
            width: 100%;
          }
          @include mobile {
            width: 100%;
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            margin: 2vw auto;
            padding: 1vw 5vw;
            outline: none;
            border: solid 0.1vw $blue;
            background-color: $blue;
            color: $white;
            font-size: 0.9vw;
            letter-spacing: 0.1vw;
            font-weight: 700;
            border-radius: 0.1vw;
            cursor: pointer;
            svg {
              margin-left: 1vw;
              width: 1vw;
              @include mobile {
                width: 3vw;
                height: 3vw;
                margin-left: 2vw;
              }
            }

            @include tablet-pro {
              padding: 0.7vw 2vw;
              font-size: 1.3vw;
            }
            @include tablet {
              padding: 2vw 6vw;
              font-size: 2vw;
              border-radius: 0.5vw;
            }
            @include mobile {
              padding: 4vw 10vw;
              font-size: 3.5vw;
              border-radius: 1vw;
            }
          }
        }
      }
    }
  }
}
