#expectations {
  width: 100%;

  .content {
    padding: 5vw;
    font-family: $raleway;
    .main_title {
      color: $secondary;
      font-size: 2.5vw;
      @include tablet-pro {
        font-size: 3vw;
      }
      @include tablet {
        font-size: 3.5vw;
        line-height: 5vw;
      }
      @include mobile {
        font-size: 5vw;
        line-height: 6.5vw;
      }
      sup {
        font-size: 1.5vw;
        font-weight: 700;
      }
    }
    p {
      font-size: 1.2vw;
      margin: 1vw 0;
      line-height: 1.8vw;
      @include laptop {
        margin: 1.5vw 0;
        font-size: 1.5vw;
        line-height: 2.5vw;
      }
      @include tablet-pro {
        margin: 2vw 0;
        font-size: 1.8vw;
        line-height: 3vw;
      }
      @include tablet {
        margin: 4vw 0;
        font-size: 2.5vw;
        line-height: 4vw;
      }
      @include mobile {
        margin: 3vw 0;
        font-size: 3.5vw;
        line-height: 5.5vw;
      }
      strong {
        color: $blue;
      }
      span {
        font-size: inherit;
        font-weight: 700;
      }
    }
    .days {
      width: 100%;
      .item {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        @include mobile {
          flex-wrap: wrap;
          margin: 5vw 0;
        }
        .left {
          width: 60%;
          font-family: $bebas;
          text-transform: uppercase;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @include tablet-pro {
            width: 50%;
          }
          @include tablet {
            width: 50%;
          }
          @include mobile {
            width: 100%;
          }
          .day {
            color: $bright_gold;
            padding: 0 2vw;
            font-size: 6vw;
            @include tablet-pro {
              font-size: 7vw;
            }
            @include tablet {
              font-size: 7vw;
            }
            @include mobile {
              font-size: 13vw;
            }
          }
          .expectation {
            color: $bright_gold;
            background-color: $blue;
            padding: 1vw 2vw;
            font-size: 3vw;
            letter-spacing: 0.1vw;
            font-weight: 500;
            @include tablet-pro {
              font-size: 3.5vw;
            }
            @include tablet {
              font-size: 3.5vw;
            }
            @include mobile {
              font-size: 7vw;
              padding: 5vw 5vw;
            }
          }
        }
        .right {
          width: 40%;
          height: 15vw;
          text-align: right;
          overflow: hidden;
          display: flex;
          align-items: flex-end;
          @include tablet-pro {
            width: 50%;
          }
          @include tablet {
            width: 50%;
            height: 20vw;
          }
          @include mobile {
            width: 100%;
            height: 30vw;
          }
          img {
            width: 100%;
          }
        }
        &:nth-child(2) {
          .left {
            .day {
              color: $secondary;
            }
            .expectation {
              color: $secondary;
              background-color: $bright_gold;
            }
          }
        }
      }
    }
  }
}
