#gallery-grid-1,
#gallery-grid-2 {
  width: 100%;
  padding: 5vw;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5vw;
  @include tablet {
    padding: 5vw 7vw;
  }
  @include mobile {
    padding: 5vw;
    flex-wrap: wrap;
  }
  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    @include mobile {
      width: 100%;
    }
    &.right {
      flex-direction: column-reverse;
      @include mobile {
        flex-direction: column;
      }
    }
    .top {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 1vw;

      img {
        width: 100%;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .bottom {
      width: 100%;
      img {
        width: 100%;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
