#hero {
  width: 100%;
  min-height: auto;
  position: relative;
  overflow: hidden;
  background: $secondary;
  background-image: url("../../images/hero-tools.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

  .hero-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    font-family: $lora;
    @include tablet-pro {
      justify-content: center;
      padding: 5vw 0;
    }
    @include tablet {
      justify-content: center;
      padding: 2vw 0;
    }

    .left {
      width: 60%;
      padding: 3vw 0 3vw 5vw;
      flex-direction: column;
      @include tablet-pro {
        width: 70%;
        padding: 3vw 0 3vw 3vw;
        position: relative;
        z-index: 2;
        left: 0;
      }
      @include tablet {
        width: 82%;
        padding: 3vw 0 3vw 3vw;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(0.5vw);
      }
      @include mobile {
        width: 100%;
        padding: 10vw 3vw 10vw 3vw;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(3vw);
      }

      .overlay {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          padding-left: 10vw;
          @include laptop {
            padding-left: 12vw;
          }
          @include tablet-pro {
            padding-left: 4vw;
          }
          @include mobile {
            align-items: center;
            padding-left: 0;
          }
          img {
            width: 80%;
            @include laptop {
              width: 75%;
            }
            @include tablet {
              margin-top: 5vw;
              width: 80%;
            }
            @include mobile {
              margin-top: 5vw;
              width: 90%;
            }
          }
          h2 {
            color: $mustard;
            font-size: 1.3vw;
            text-align: left;
            margin: 0.5vw 0;
            width: 100%;
            text-transform: capitalize;
            line-height: 2vw;
            &.date {
              color: $white;
            }
            @include laptop {
              font-size: 1.8vw;
            }
            @include tablet-pro {
              font-size: 2.2vw;
              line-height: 3.5vw;
              padding-right: 10vw;
              margin: 1vw 0;
            }
            @include tablet {
              width: 100%;
              font-size: 3vw;
              text-align: left;
              padding-left: 0;
              line-height: 4.5vw;
              padding-right: 10vw;
              margin: 1vw 0;
            }
            @include mobile {
              width: 100%;
              font-size: 4.5vw;
              text-align: center;
              padding-left: 0;
              padding: 3vw 0;
              line-height: 7.5vw;
            }
          }
        }

        .cta {
          margin-top: 2vw;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include tablet-pro {
            padding: 2vw 0 2vw 2vw;
            justify-content: space-between;
          }
          @include tablet {
            padding: 2vw;
            justify-content: space-between;
          }
          @include mobile {
            padding: 3vw;
            flex-direction: column;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $raleway;
            margin: 2vw;
            padding: 1vw;
            outline: none;
            border: solid 0.1vw $mustard;
            background-color: $mustard;
            border-radius: 0.1vw;
            cursor: pointer;
            @include tablet-pro {
              margin: 0;
              padding: 2vw 1.7vw;
              .button-icon {
                display: none;
              }
            }
            @include tablet {
              margin: 1vw;
              padding: 2vw 1.7vw;
              .button-icon {
                display: none;
              }
            }
            @include mobile {
              margin: 1vw;
              padding: 5vw 1.7vw;
              .button-icon {
                display: none;
              }
            }

            @include mobile {
              margin: 2vw;
              width: 100%;
            }
            a {
              text-decoration: none;
              color: $black;
              display: flex;
              align-items: center;
            }
            span {
              font-size: 0.7vw;
              letter-spacing: 0.1vw;
              font-weight: 700;
              color: $black;
              @include tablet-pro {
                font-size: 1.3vw;
              }

              @include tablet {
                font-size: 1.6vw;
              }

              @include mobile {
                font-size: 3vw;
              }
            }
            svg {
              color: $black;
              margin-left: 0.5vw;
              width: 0.7vw;
            }
          }
        }
      }
    }
    .right {
      width: 40%;
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      @include tablet-pro {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 60%;
        top: 0;
        right: -20%;
      }
      @include tablet {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 70%;
        top: 0;
        right: -30%;
      }
      @include mobile {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        right: -30%;
      }

      .strip {
        width: 30%;
        height: 100%;
        @include mobile {
          display: none;
        }

        &:nth-child(2) {
          // flex: 1;
          width: 30vw;
          background-color: $mustard;
          @include mobile {
            display: none;
          }
        }
      }

      .r-overlay {
        position: absolute;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 100%;

        img {
          width: 95%;
          position: relative;
          margin-left: 2vw;
        }
      }
    }
  }
}
