.partners {
  width: 100%;
  margin: 5vw 0;
  .partners_title {
    margin-left: 5vw;
    font-size: 2vw;
    color: $primary;
  }

  hr {
    margin-left: 5vw;
    width: 5vw;
    margin: 1vw 0 1vw 5vw;
    border: none;
    outline: none;
    height: 0.4vw;
    background-color: $secondary;
  }

  .content {
    padding: 5vw 10vw 10vw 5vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .image {
      width: 22%;
      margin: 1vw;
      display: grid;
      place-items: center;

      img {
        width: 10vw;
      }
    }
  }
}
