#pillars {
  width: 100%;

  .content {
    padding: 5vw;
    font-family: $raleway;
    .main_title {
      color: $secondary;
      font-size: 2.5vw;
      @include tablet-pro {
        font-size: 3vw;
      }
      @include tablet {
        font-size: 3.5vw;
        line-height: 5vw;
      }
      @include mobile {
        font-size: 5vw;
        line-height: 6.5vw;
      }
      sup {
        font-size: 1.5vw;
        font-weight: 700;
      }
    }
    p {
      font-size: 1.2vw;
      margin: 1vw 0;
      line-height: 1.8vw;
      @include laptop {
        margin: 1.5vw 0;
        font-size: 1.5vw;
        line-height: 2.5vw;
      }
      @include tablet-pro {
        margin: 2vw 0;
        font-size: 1.8vw;
        line-height: 3vw;
      }
      @include tablet {
        margin: 4vw 0;
        font-size: 2.5vw;
        line-height: 4vw;
      }
      @include mobile {
        margin: 3vw 0;
        font-size: 3.5vw;
        line-height: 5.5vw;
      }
      strong {
        color: $blue;
      }
      span {
        font-size: inherit;
        font-weight: 700;
      }
    }
    .pillars {
      width: 100%;
      margin-top: 5vw;
      display: flex;
      align-items: stretch;
      gap: 5vw;
      justify-content: center;
      @include mobile {
        flex-wrap: wrap;
      }
      .pillar {
        @include mobile {
          width: 45%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
