.register_now,
.partner_form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(0.2vw);
  top: 0;
  left: 0;
  padding: 1vw 10vw;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Lora", serif;
  display: none;
  @include tablet-pro {
    padding: 2vw;
  }
  @include tablet {
    padding: 2vw;
  }
  @include mobile {
    padding: 2vw 0;
  }

  .exit {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -1vw;
    z-index: 1;
    @include tablet {
      width: 85%;
    }
    @include mobile {
      width: 95%;
      margin-bottom: -3vw;
    }

    span {
      display: grid;
      place-items: center;
      background-color: $white;
      box-shadow: 0.1vw 0.1vw 0.1vw 0 rgba(129, 129, 129, 0.562);
      cursor: pointer;
      border-radius: 0.3vw;
      padding: 0.5vw 1vw;
      font-size: 1vw;
      @include tablet-pro {
        font-size: 1.5vw;
      }

      @include tablet {
        font-size: 1.8vw;
        padding: 1vw 2vw;
      }

      @include mobile {
        font-size: 3vw;
        padding: 2vw 3vw;
      }
    }
  }

  .container {
    background-color: $white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding: 2vw 5vw 1vw 5vw;
    border-radius: 0.5vw;
    width: 70%;
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      cursor: pointer;
      width: 0;
    }
    @include tablet-pro {
      padding: 2vw 3vw;
    }
    @include tablet {
      padding: 2vw 4vw;
      width: 80%;
    }
    @include mobile {
      padding: 5vw 7vw;
      width: 90%;
      background-position: -5% 0;
    }
    .logo {
      display: flex;
      width: 100%;
      padding: 0;
      margin-bottom: 1vw;

      img {
        width: 55%;
        margin-left: -7%;
        @include mobile {
          width: 30%;
        }
      }
    }

    .intro {
      margin-top: 1vw;
      font-family: $lora;
    }

    form {
      width: 100%;
      @include mobile {
        width: 100%;
      }

      .reg_title {
        color: $blue;
        font-size: 1.8vw;
        line-height: 2.2vw;
        margin-bottom: 1vw;
        @include tablet-pro {
          font-size: 2vw;
          line-height: 3vw;
        }
        @include tablet {
          font-size: 2.5vw;
          line-height: 3.5vw;
        }
        @include mobile {
          font-size: 4.5vw;
          line-height: 6.5vw;
          margin-bottom: 2vw;
        }
      }

      hr {
        width: 5vw;
        outline: none;
        height: 0.4vw;
        border: none;
        background-color: $blue;
        @include tablet {
          width: 10vw;
          height: 0.6vw;
        }
        @include mobile {
          width: 20vw;
          height: 1vw;
          margin-bottom: 3vw;
        }
      }
      br {
        @include mobile {
          display: none;
        }
      }
      .p_intro {
        font-size: 1vw;
        margin-bottom: 1vw;
        @include laptop {
          margin: 1.5vw 0;
          font-size: 1.5vw;
          line-height: 2.5vw;
        }
        @include tablet-pro {
          margin: 2vw 0;
          font-size: 1.8vw;
          line-height: 3vw;
        }
        @include tablet {
          margin: 4vw 0;
          font-size: 2.5vw;
          line-height: 4vw;
        }
        @include mobile {
          margin: 5vw 0;
          font-size: 3.5vw;
          line-height: 5.5vw;
        }
      }

      .names,
      .contact_details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
          flex-wrap: wrap;
        }
        label {
          width: 48%;
          display: flex;
          flex-direction: column;
          margin: 1vw 0;
          @include mobile {
            width: 100%;
            margin: 2vw 0;
          }
          span {
            margin-bottom: 0.5vw;
            font-weight: 600;
            @include tablet-pro {
              font-size: 1.3vw;
            }

            @include tablet {
              font-size: 1.8vw;
            }

            @include mobile {
              font-size: 3vw;
            }
          }
          input {
            padding: 0.7vw 1vw;
            width: 100%;
            outline: none;
            border: solid 0.11vw rgb(80, 80, 80);
            font-size: 1vw;
            @include tablet-pro {
              font-size: 1.5vw;
            }

            @include tablet {
              font-size: 1.8vw;
            }

            @include mobile {
              font-size: 3vw;
              padding: 2vw 4vw;
              border-radius: 0.5vw;
            }
            &::placeholder {
              // font-size: 0.8vw;
              // @include tablet-pro {
              //   font-size: 1.2vw;
              // }

              // @include tablet {
              //   font-size: 1.5vw;
              // }

              // @include mobile {
              //   font-size: 3vw;
              // }
              font-size: 1vw;
              @include tablet-pro {
                font-size: 1.5vw;
              }

              @include tablet {
                font-size: 1.8vw;
              }

              @include mobile {
                font-size: 3vw;
              }
            }
          }
        }
        margin-bottom: 1vw;
      }

      .o_details {
        label {
          display: flex;
          flex-direction: column;
          margin-bottom: 1vw;
          width: 100%;
          @include mobile {
            width: 100%;
            margin: 2vw 0;
          }
          span {
            margin-bottom: 0.5vw;
            font-weight: 600;
            @include tablet-pro {
              font-size: 1.3vw;
            }

            @include tablet {
              font-size: 1.8vw;
            }

            @include mobile {
              font-size: 3vw;
            }
          }
          input {
            padding: 0.7vw 1vw;
            width: 100%;
            outline: none;
            border: solid 0.11vw rgb(80, 80, 80);
            font-size: 1vw;
            @include tablet-pro {
              font-size: 1.5vw;
            }

            @include tablet {
              font-size: 1.8vw;
            }

            @include mobile {
              font-size: 3vw;
              padding: 2vw 4vw;
              border-radius: 0.5vw;
            }
            &::placeholder {
              font-size: 1vw;
              @include tablet-pro {
                font-size: 1.5vw;
              }

              @include tablet {
                font-size: 1.8vw;
              }

              @include mobile {
                font-size: 3vw;
              }
            }
          }
        }
      }

      .designation {
        margin-top: 1vw;
        width: 100%;
        @include tablet {
          margin-bottom: 2vw;
        }
        @include mobile {
          margin-bottom: 2vw;
        }
        p {
          margin-bottom: 1vw;
        }
        .choices {
          display: flex;
          align-items: center;
          justify-content: space-between;
          label {
            width: 48%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0.3vw 0;
            cursor: pointer;
            input {
              margin-right: 1vw;
              display: none;
              @include tablet {
                margin-top: 1vw;
                margin-bottom: 1vw;
              }
              @include mobile {
                margin-top: 1.5vw;
                margin-bottom: 1.5vw;
              }
              &:checked ~ span {
                .check {
                  display: inline-block;
                }
              }
            }
            .button {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background-color: $primary;
              font-family: "Montserrat", sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              letter-spacing: 0.07vw;
              color: $white;
              border-radius: 0.3vw;
              width: 100%;
              padding: 1vw 2vw;
              @include mobile {
                padding: 3vw 6vw;
                border-radius: 0.5vw;
              }
              .check {
                margin-left: 1vw;
                display: none;
              }
            }
          }
        }
      }

      .citizenship_selection {
        margin-top: 1vw;
        width: 100%;
        @include tablet {
          margin-bottom: 2vw;
        }
        @include mobile {
          margin-bottom: 2vw;
        }
        label {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0.3vw 0 0.3vw;
          cursor: pointer;
          input {
            margin-right: 1vw;
            @include tablet {
              margin-top: 1vw;
              margin-bottom: 1vw;
            }
            @include mobile {
              margin-top: 1.5vw;
              margin-bottom: 1.5vw;
            }
          }
        }
      }

      .package_options {
        margin-top: 1vw;
        p {
          font-weight: 600;
        }
        .options {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 0.5vw;

          @include tablet-pro {
            margin-top: 1.5vw;
          }
          @include tablet {
            margin-top: 1.5vw;
          }
          @include mobile {
            margin-top: 2.5vw;
            flex-wrap: wrap;
          }
          label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 48%;
            margin: 1vw 0 0.3vw;
            cursor: pointer;
            @include tablet-pro {
              width: 48%;
              margin: 1.5vw 0 0.3vw;
            }
            @include tablet {
              width: 48%;
              margin: 1.5vw 0 0.3vw;
            }
            @include mobile {
              width: 100%;
              margin: 2vw 0;
            }
            input {
              margin-right: 1vw;
              border-bottom: solid 0.1vw black;
              line-height: 0;
              width: 5%;
              @include mobile {
                margin-right: 5vw;
              }
            }
            span {
              font-family: "Poppins", sans-serif;
              text-transform: uppercase;
              font-size: 0.8vw;
              font-weight: 600;
              letter-spacing: 0.1vw;
              text-align: center;
              display: inline-block;
              align-items: center;
              width: 90%;
              padding: 0.8vw 0;
              color: white;
              @include mobile {
                font-size: 2vw;
                padding: 3vw 0;
                width: 100%;
              }
              &.platinum {
                background-color: #063f4b;
              }
              &.gold {
                background-color: #a87d54;
              }
              &.silver {
                background-color: #58595b;
              }
              &.bronze {
                background-color: #9c2062;
              }
              &.community {
                background-color: #0e608b;
              }
              &.goodwill {
                background-color: #165b36;
              }
              img {
                width: 3vw;
                @include tablet-pro {
                  width: 5vw;
                }

                @include tablet {
                  width: 7vw;
                }

                @include mobile {
                  width: 10vw;
                }
              }
            }
          }
        }
      }

      .payment_options {
        p {
          width: 100%;
          text-align: center;
          font-family: "Lora", serif;
          color: $primary;
          font-size: 1.5vw;
          font-weight: 600;
          @include tablet-pro {
            font-size: 1.3vw;
          }

          @include tablet {
            font-size: 1.8vw;
          }

          @include mobile {
            font-size: 3vw;
          }
        }
        .options {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 1vw;
          label {
            display: flex;
            cursor: pointer;
            margin: 0 2vw;
            @include mobile {
              margin: 5vw 3vw;
            }
            span {
              width: 5vw;
              margin-left: 2vw;
              @include mobile {
                width: 70%;
              }
              img {
                width: 100%;
              }
            }
          }
        }
      }

      .p_submit {
        margin: 2vw 0;
        input {
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.1vw;
          margin-right: 1vw;
          margin-top: 2vw;
          padding: 1vw 1.5vw;
          outline: none;
          border: solid 0.1vw $blue;
          background-color: $blue;
          color: $white;
          font-weight: 600;
          font-size: 0.9vw;
          width: 100%;
          cursor: pointer;
          @include tablet-pro {
            font-size: 1.5vw;
            line-height: 3vw;
          }
          @include tablet {
            padding: 1.3vw 1.5vw;
            font-size: 2vw;
            line-height: 3.5vw;
            border-radius: 0.5vw;
          }
          @include mobile {
            font-size: 3.5vw;
            line-height: 6.5vw;
            margin-bottom: 2vw;
            padding: 2vw 5vw;
            border-radius: 1vw;
          }
        }
      }
    }

    .footer-logos {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 1vw;
      img {
        width: 10%;
        margin: 0 0.5vw;
        &.unmc {
          width: 30%;
        }
      }
    }
  }
}

.email_confirm {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(0.2vw);
  top: 0;
  left: 0;
  padding: 1vw 10vw;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Lora", serif;
  display: none;
  @include tablet-pro {
    padding: 2vw;
  }
  @include tablet {
    padding: 2vw;
  }
  @include mobile {
    padding: 2vw 0;
  }

  .exit {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -1vw;
    z-index: 1;
    @include tablet {
      width: 40%;
    }
    @include mobile {
      width: 75%;
      margin-bottom: -3vw;
    }

    span {
      display: grid;
      place-items: center;
      background-color: $white;
      box-shadow: 0.1vw 0.1vw 0.1vw 0 rgba(129, 129, 129, 0.562);
      cursor: pointer;
      border-radius: 0.3vw;
      padding: 0.5vw 1vw;
      font-size: 1vw;
      @include tablet-pro {
        font-size: 1.5vw;
      }

      @include tablet {
        font-size: 1.8vw;
        padding: 1vw 2vw;
      }

      @include mobile {
        font-size: 3vw;
        padding: 2vw 3vw;
      }
    }
  }

  .container {
    background-color: $white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding: 2vw 5vw;
    border-radius: 0.5vw;
    width: 30%;
    height: auto;
    display: grid;
    place-items: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      cursor: pointer;
      width: 0;
    }
    @include tablet-pro {
      padding: 2vw 3vw;
    }
    @include tablet {
      padding: 2vw 4vw;
      width: 30%;
    }
    @include mobile {
      padding: 5vw 7vw;
      width: 65%;
      background-position: -5% 0;
    }
  }
}
