#speakers {
  width: 100%;
  .headline {
    width: 100%;
    height: 20vw;
    padding: 2vw 0;
    @include tablet {
      padding: 4vw 0;
    }
    @include mobile {
      padding: 7vw 0;
      height: 30vw;
    }

    background-color: #042c50;
    .title {
      width: 100%;
      text-align: center;
      font-family: "Lora", serif;
      color: $white;
      font-size: 3.5vw;
      @include tablet {
        font-size: 4vw;
      }
      @include mobile {
        font-size: 6vw;
      }
    }
  }
  .speakers {
    margin-bottom: 15vw;
    padding: 0 5vw;
    margin-top: -10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    .item {
      width: 19%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 2.5vw;
      @include tablet {
        transform: scale(1.2);
      }
      @include mobile {
        width: 100%;
        margin: 3vw 0;
        flex-direction: row;
      }

      .image {
        border: solid 0.8vw #0a4995;
        border-radius: 50%;
        width: 13vw;
        height: 13vw;
        background-size: cover;
        background-color: aliceblue;
        margin-bottom: 1vw;
        @include mobile {
          width: 30vw;
          height: 30vw;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @include mobile {
          width: 70%;
          margin-left: 5%;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .name {
          color: #042c50;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 1.3vw;
          text-align: center;
          @include mobile {
            text-align: left;
            font-size: 4vw;
          }
        }
        .meta {
          color: #f1a42d;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 1.1vw;
          @include mobile {
            text-align: left;
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}
