.sponsorship {
  width: 100%;
  font-size: $lora;

  @include tablet-pro {
    padding: 2vw 3vw;
  }
  @include tablet {
    padding: 2vw 3vw;
  }
  @include mobile {
    padding: 0;
  }
  .sponsorship_title {
    padding: 2vw 5vw 0 5vw;
    width: 100%;
    text-align: left;
    font-size: 2.5vw;
    color: $black;
    margin-bottom: 3vw;
    font-family: $raleway;
    text-transform: uppercase;
    @include tablet-pro {
      font-size: 3.4vw;
    }
    @include tablet {
      font-size: 3.8vw;
    }
    @include mobile {
      font-size: 4.5vw;
    }
  }

  hr {
    width: 10vw;
    margin-left: 5vw;
    margin-top: -2vw;
    margin-bottom: 5vw;
    height: 0.5vw;
    border: none;
    outline: none;
    background-color: #02161f;
  }

  .container {
    background-image: linear-gradient(
      0deg,
      #ffffff00,
      #ffffff00,
      url("../../images/ukrane-ambulance.jpg")
    );
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.89),
        rgba(255, 254, 254, 0.932)
      ),
      url("../../images/ukrane-ambulance.jpg");
    background-size: cover;
    padding: 5vw;

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .package {
        width: 49%;
        height: auto;
        padding: 1.5vw;
        margin: 1vw 0;
        color: $white;
        @include tablet-pro {
          width: 49%;
        }
        @include tablet {
          width: 100%;
          padding: 3vw;
        }
        @include mobile {
          width: 100%;
          padding: 5vw 3vw;
        }
        &.platinum {
          background: linear-gradient(135deg, #25485e, #152a3d);
          width: 100%;
        }

        &.gold {
          background: linear-gradient(135deg, #9a7350, #5c4739);
        }

        &.silver {
          background: linear-gradient(135deg, #249da0, #1e606b);
        }

        &.bronze {
          background: linear-gradient(135deg, #8f3c88, #772365);
        }

        &.community {
          background: linear-gradient(135deg, #153f7f, #122f58);
        }

        &.goodwill {
          background: linear-gradient(135deg, #ad3632, #531212);
        }

        .title {
          margin-bottom: 1vw;
          h3 {
            font-size: 1.7vw;
            @include tablet-pro {
              font-size: 2vw;
            }
            @include tablet {
              font-size: 2.5vw;
            }
            @include mobile {
              font-size: 3.8vw;
            }
          }
          span.amount {
            font-size: 1.5vw;
            font-weight: 700;
            @include tablet-pro {
              font-size: 1.7vw;
            }
            @include tablet {
              font-size: 2vw;
            }
            @include mobile {
              font-size: 3.5vw;
            }
          }
        }

        ul {
          list-style-type: square;

          span {
            font-size: 1.3vw;
            font-weight: 700;
            @include tablet-pro {
              font-size: 1.7vw;
            }
            @include tablet {
              font-size: 2vw;
            }
            @include mobile {
              font-size: 3.5vw;
            }
          }
          li {
            font-size: 1vw;
            margin: 1vw 0 1vw 1vw;
            @include tablet-pro {
              font-size: 1.5vw;
              margin: 1vw 0 1vw 2vw;
            }
            @include tablet {
              font-size: 2vw;
              margin: 1vw 0 1vw 2vw;
            }
            @include mobile {
              font-size: 3.3vw;
              margin: 1vw 0 1vw 5vw;
            }
          }
        }
      }

      table {
        width: 100%;
        border: solid 0.1vw #a67b53;
        padding: 1vw;
        border-radius: 0.3vw;
        margin-bottom: 5vw;
        border-collapse: collapse;
        thead {
          th {
            text-align: center;
            padding: 1vw;
            border: solid 0.1vw #a67b53;
            color: $white;
            font-size: 1vw;
            text-transform: capitalize;
            font-family: $raleway;
            &.b_title {
              text-align: left;
              color: #a67b53;
            }

            &:nth-child(2) {
              background-color: #000d13;
              button {
                background-color: #053e49;
              }
            }
            &:nth-child(3) {
              background-color: #64371a;
              button {
                background-color: #a67b53;
              }
            }
            &:nth-child(4) {
              background-color: #1e1e20;
              button {
                background-color: #565759;
              }
            }
            &:nth-child(5) {
              background-color: #5c0524;
              button {
                background-color: #981f60;
              }
            }
            &:nth-child(6) {
              background-color: #021e42;
              button {
                background-color: #0d5d87;
              }
            }
            &.buttons {
              background-color: transparent;
              button {
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0.5vw 1.5vw;
                outline: none;
                color: $white;
                cursor: pointer;
                font-size: 1vw;
                font-weight: 600;
                border: none;
                &:hover {
                  background-color: $white;
                  color: $primary;
                }
              }
            }
          }
        }

        tbody {
          tr {
            td {
              text-align: center;
              padding: 1vw;
              border: solid 0.1vw #a67b53;
              font-size: 1.2vw;
              font-weight: 700;
              color: $white;
              &.benefits {
                text-align: left;
                color: $text_color;
                font-weight: 500;
                font-size: 1vw;
                font-family: $raleway;
              }
              &:nth-child(2) {
                background-color: #053e49;
              }
              &:nth-child(3) {
                background-color: #a67b53;
              }
              &:nth-child(4) {
                background-color: #565759;
              }
              &:nth-child(5) {
                background-color: #981f60;
              }
              &:nth-child(6) {
                background-color: #0d5d87;
              }
              &.button {
                button {
                  cursor: pointer;
                  text-decoration: none;
                  background-color: transparent;
                  outline: none;
                  border: none;
                  padding: 0.4vw 1.5vw;
                  border-radius: 0.3vw;
                  font-size: 0.9vw;
                  color: $white;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
    .cta {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      margin: 2vw auto;
      padding: 1.5vw 2vw;
      outline: none;
      border: none;
      background-color: #001227;
      color: $white;
      font-size: 0.9vw;
      letter-spacing: 0.1vw;
      font-weight: 600;
      border-radius: 0.1vw;
      cursor: pointer;
      svg {
        margin-left: 1vw;
        width: 1vw;
        @include mobile {
          width: 3vw;
        }
      }

      @include tablet-pro {
        padding: 2vw 3vw;
        font-size: 1.3vw;
      }
      @include tablet {
        padding: 2vw 3vw;
        font-size: 1.5vw;
        border-radius: 0.5vw;
      }
      @include mobile {
        padding: 4vw 6vw;
        font-size: 3.3vw;
        border-radius: 1vw;
      }
    }
  }
}

.fullimage {
  width: 100%;
  height: 32vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .top,
  .bottom {
    background-color: #001227;
    width: 100%;
    height: 2vw;
    outline: none;
    border: solid;
    border-width: 0.15vw 0 0.15vw 0;
    border-color: $white;
  }
  &#afterpartnerships {
    height: 28vw;
    background-image: url("../../images/image004.jpg");
    background-size: cover;
    background-position: bottom center;
    @include tablet-pro {
      height: 40vw;
    }
    @include tablet {
      height: 50vw;
    }
    @include mobile {
      height: 60vw;
    }
  }
}
