#themes-n-topics {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: $raleway;
  padding-right: 5vw;
  margin: 5vw 0;
  padding: 0;
  @include tablet-pro {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 5vw 0;
    padding: 0 5vw;
  }
  @include tablet {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 5vw 0;
    padding: 0 5vw;
  }
  @include mobile {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 5vw 0 10vw 0;
    padding: 0 5vw;
  }

  .image {
    width: 35%;
    background-size: contain;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
    @include tablet-pro {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 5vw;
    }
    img {
      width: 100%;
    }
  }
  .content {
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    padding: 2vw 5vw 2vw 0;

    @include tablet-pro {
      width: 100%;
      padding: 3vw 3vw 3vw 3.5vw;
    }
    @include tablet {
      width: 100%;
      padding: 3vw 7vw 3vw 3.5vw;
    }
    @include mobile {
      width: 100%;
      padding: 0;
    }

    ul,
    ol {
      list-style-type: none;
      margin: 0.5vw 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      li {
        text-align: left;
        margin-bottom: 0.7vw;
        font-size: 1.1vw;
        margin: 1vw 0;
        color: $text_color;
        line-height: 1.5vw;
        padding-left: 2vw;
        @include laptop {
          margin: 0.5vw 0;
          font-size: 1.5vw;
          line-height: 2.5vw;
        }
        @include tablet-pro {
          margin: 1vw 0;
          font-size: 1.8vw;
          line-height: 3vw;
        }
        @include tablet {
          margin: 1.5vw 0;
          font-size: 2.5vw;
          line-height: 4vw;
        }
        @include mobile {
          margin: 0;
          font-size: 3.5vw;
          line-height: 5.5vw;
        }
        strong {
          color: $blue;
        }
        span {
          &.title {
            font-weight: 600;
            color: $blue;
          }
          strong {
            color: #0a4995;
          }
        }
        @include mobile {
          margin-bottom: 4vw;
        }
      }
    }
  }

  p,
  span {
    text-align: left;
    margin-bottom: 0.7vw;
    font-size: 1.1vw;
    margin: 1vw 0;
    color: $text_color;
    line-height: 1.5vw;
    @include laptop {
      margin: 0.5vw 0;
      font-size: 1.5vw;
      line-height: 2.5vw;
    }
    @include tablet-pro {
      margin: 1vw 0;
      font-size: 1.8vw;
      line-height: 3vw;
    }
    @include tablet {
      margin: 1.5vw 0;
      font-size: 2.5vw;
      line-height: 4vw;
    }
    @include mobile {
      margin: 0;
      font-size: 3.5vw;
      line-height: 5.5vw;
    }
    strong {
      color: $blue;
    }
    span {
      &.title {
        font-weight: 600;
        color: $blue;
      }
      strong {
        color: #0a4995;
      }
    }
    @include mobile {
      margin-bottom: 4vw;
    }
  }
}
