.rhero {
  width: 100%;
  height: 80vh;
  padding: 5vw 3vw;
  background-image: linear-gradient(#00000067, #00000067),
    url("./../../images/stretcher_patient.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-image 5s ease-in-out;
  @include laptop {
    padding: 7vw 3vw;
  }
  @include tablet-pro {
    padding: 15vw 5vw;
    height: auto;
  }
  @include tablet {
    padding: 20vw 5vw;
    height: auto;
  }
  @include mobile {
    padding: 30vw 3vw;
    height: auto;
  }

  .message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet-pro {
      width: 100%;
      flex-wrap: wrap;
    }
    @include tablet {
      width: 100%;
      flex-wrap: wrap;
    }
    @include mobile {
      width: 95%;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .left {
      width: 50%;
      padding: 3vw;
      @include laptop {
        width: 60%;
      }
      @include tablet-pro {
        width: 80%;
        margin: 0 auto;
      }
      @include tablet {
        width: 90%;
        margin: 0 auto;
        padding: 5vw;
      }
      @include mobile {
        width: 100%;
        margin: 0 auto;
        padding: 5vw;
      }

      h1.main_headline {
        color: #c2b59d;
        font-size: 4vw;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        @include tablet {
          font-size: 5vw;
        }
        @include mobile {
          font-size: 7vw;
        }
        sup {
          font-size: 1.5vw;
        }
      }

      h2.subtitle {
        color: $white;
        font-size: 1.8vw;
        font-weight: 600;
        font-family: "Bitter", serif;
        margin: 2vw 0;
        @include laptop {
          font-size: 2.2vw;
          margin: 2vw 0;
          line-height: 3.5vw;
        }
        @include tablet-pro {
          font-size: 2.2vw;
          margin: 3vw 0;
        }
        @include tablet {
          font-size: 3vw;
          line-height: 4vw;
          margin: 3vw 0;
        }
        @include mobile {
          font-size: 5vw;
          line-height: 6.5vw;
          margin: 3vw 0;
        }
      }
    }
  }
}
