footer {
  width: 100%;
  margin: 2vw 0 0 0;
  padding: 3vw 0 0 0;
  background-color: $title_color;

  .footer_links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .left {
      width: 49.5%;
      ul {
        list-style: none;
        text-align: right;
        li {
          margin: 1vw 0;
          a {
            text-decoration: none;
            color: $white;
            font-family: "poppins", serif;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.1vw;
            font-size: 1.2vw;
            &:hover {
              color: $mustard;
            }
          }
        }
      }
    }

    hr {
      width: 8vw;
      margin: 0 -3vw;
      outline: none;
      border: none;
      height: 0.15vw;
      background-color: $white;
      transform: rotate(90deg);
    }

    .right {
      width: 48%;
      ul {
        list-style: none;
        text-align: left;
        li {
          margin: 1vw 0;
          a {
            text-decoration: none;
            color: $white;
            font-family: "poppins", serif;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.1vw;
            font-size: 1.2vw;
            &:hover {
              color: $mustard;
            }
          }
        }
      }
    }
  }

  .terms {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $mustard;
      font-family: "poppins", serif;
      font-size: 1.2vw;
      text-transform: uppercase;
      letter-spacing: 0.15vw;
      font-weight: 500;
      width: 100%;
      text-align: center;
      margin: 1vw 0;
    }
  }

  .follow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;

    .text {
      p {
        text-decoration: none;
        color: $white;
        font-family: "poppins", serif;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.1vw;
        font-size: 1.2vw;
      }
    }

    .socials {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0 1vw;
      a {
        display: grid;
        place-items: center;
        width: 3vw;
        height: 3vw;
        margin: 0.5vw;
        border: solid 0.2vw #fff;
        border-radius: 50%;
        @include tablet {
          width: 5vw;
          height: 5vw;
          margin: 0 2vw;
        }
        @include mobile {
          width: 8vw;
          height: 8vw;
          margin: 0 3vw;
        }
        svg {
          width: 1.5vw;
          height: 1.5vw;
          color: $mustard;
          @include tablet {
            width: 2vw;
            height: 2vw;
          }
          @include mobile {
            width: 3.5vw;
            height: 3.5vw;
            margin: 0 2vw;
          }
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: 7vw;
    background-image: url("../../images/hackathon_footer_banner.jpg");
    background-position: 0vw 1vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
