.hero-slide {
  display: flex;
  align-items: flex-start;

  @keyframes appear {
    0% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hack_hero {
    width: 100%;
    height: 100vh;
    // padding: 5vw 3vw;
    background-image: linear-gradient(#0000003a, #0000003a),
      url("./../../images/hero-section.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-image 5s ease-in-out;
    &.appear {
      animation: appear 0.5s forwards ease-in-out;
    }

    .message {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include tablet-pro {
        width: 100%;
        flex-wrap: wrap;
      }
      @include tablet {
        width: 100%;
        flex-wrap: wrap;
      }
      @include mobile {
        width: 95%;
        flex-wrap: wrap;
        margin: 0 auto;
      }

      .left {
        width: 40%;
        height: 100%;
        background-color: #05162086;
        backdrop-filter: blur(0.2vw);
      }
      .right {
        position: absolute;
        padding: 3vw;

        h1.main_headline {
          color: $white;
          font-size: 5vw;
          font-family: "GlitchDemo", sans-serif;
          font-weight: 400;
          width: 70%;
          line-height: 6vw;
          padding-bottom: 2vw;
        }
        hr {
          width: 30%;
          border: none;
          outline: none;
          height: 0.2vw;
          background-color: $mustard;
        }

        h2.subtitle {
          color: $mustard;
          font-size: 1.1vw;
          font-weight: 600;
          font-family: "poppins", serif;
          margin: 1vw 0;
          width: 30%;
          // @include laptop {
          //   font-size: 2.2vw;
          //   margin: 2vw 0;
          //   line-height: 3.5vw;
          // }
          // @include tablet-pro {
          //   font-size: 2.2vw;
          //   margin: 3vw 0;
          // }
          // @include tablet {
          //   font-size: 3vw;
          //   line-height: 4vw;
          //   margin: 3vw 0;
          // }
          // @include mobile {
          //   font-size: 5vw;
          //   line-height: 6.5vw;
          //   margin: 3vw 0;
          // }
        }
        p {
          width: 30%;
          font-family: "poppins", serif;
          margin: 1vw 0;
          color: $white;
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 2vw 0 0 0;
          .line {
            flex-grow: 1;
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;
            .bar {
              width: 20%;
              height: 0.5vw;
              position: absolute;
              top: -50%;
              left: 0;
              background-color: $mustard;
            }
            hr {
              width: 100%;
              background-color: $white;
            }
          }

          .cta {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 1vw;
            padding: 1vw 2vw;
            outline: none;
            border: solid 0.1vw $white;
            background-color: $white;
            color: #030e22e7;
            font-size: 0.9vw;
            letter-spacing: 0.1vw;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            border-radius: 0.1vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
              background-color: $secondary;
              border: solid 0.1vw $secondary;
              color: $white;
            }
            @include laptop {
              padding: 1vw 2vw;
              font-size: 1.1vw;
            }
            @include tablet-pro {
              padding: 1vw 2vw;
              font-size: 1.5vw;
            }
            @include tablet {
              padding: 0.7vw 2vw;
              font-size: 1.5vw;
              border-radius: 0.5vw;
            }
            @include mobile {
              padding: 2vw 4vw;
              font-size: 2.7vw;
              border-radius: 0;
              margin-top: 5vw;
            }
            svg {
              margin-left: 1vw;
              width: 1vw;
              @include mobile {
                width: 3vw;
              }
            }
            &.mustard {
              background-color: $mustard;
              border-color: $mustard;
            }
          }
        }
      }
    }
  }
}
