@use "partials/global" as *;

body {
  padding: 1vw 0 0 0;
  width: 100%;
  height: auto;
  

  main {
    width: 100%;
    height: inherit;
    @import "partials/header";
    @import "bootcamp/hero";
    @import "bootcamp/about";
    @import "partials/contact";
    @import "partials/footer";
    @import "partials/register_popup";
  }
}
