@use "partials/global" as *;

body {
  padding: 1vw 0 0 0;
  width: 100%;
  height: auto;

  main {
    width: 100%;
    height: inherit;
    @import "partials/header";
    @import "resources/rhero";
    @import "resources/nav";
    @import "resources/content";
    @import "partials/footer";
  }
}
